body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.location-box {
    border: 2px dashed #ccc;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    background: #f9f9f9;
}

.location-icon img {
    width: 30px;
    height: 30px;
}
.location-icon p {
    margin: 10px 0 0 10px;
    font-size: 16px;
    color: #888;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}

.upload-section, .location-details, .map-section, .share-button {
    margin: 10px 0;
}

.upload-box {
    border: 2px dashed #ccc;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    background: #f9f9f9;
}

.upload-label {
    display: block;
    font-size: 16px;
    color: #666;
}

#location-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.location-button, .share-button {
    width: 100%;
    padding: 15px;
    background-color: #ff3333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.location-button:hover, .share-button:hover {
    background-color: #e60000;
}
